[Unit]
Description=docker-volume-local-persist
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/pkill docker-volume-local-persist
ExecStart=/usr/bin/docker-volume-local-persist

[Install]
WantedBy=multi-user.target
